*node_modules/
*__pycache__
*covid_venv/
*frontend/static/frontend/
*.sqlite3
*.env
*.covid_venv/*
*.vscode/*
*.covid_venv
*config.sh
*rootkey.csv
*tweets/*
*.DS_Store
*app/frontend/static/frontend/*
