@import "global_themes.css"; 


.sidebar-div {
    width: 20%; 
    height: 100vh; 
}

.header-div {
    height: 20%; 
}

.dashboard-div {
    /*background-color: var(--dashboard-color);*/
    background-color: red; 
    height: 80%; 
}

.app-flex-div {
    display: flex; 
}

.header-dash-flex-div {
    display: flex; 
    flex-direction: column; 
    width: 80%; 
    height: 100vh; 
}