.dashboard {
    background-color: gray; 
    border-radius: 1em; 
}

.dashboard-summary-stats {
    border-radius: 0.25em; 
    width: 98%;
    margin: auto; 
    margin-top: 0.5em; 
    margin-bottom: 0.5em; 
    height: 5em; 
}

.dashboard-main-map-counts { 
    background-color: green; 
    border-radius: 0.25em; 
    height: 20em; 
    width: 98%; 
    margin: auto; 
}

.dashboard-map {
    float: left; 
    width: 40%; 
    box-sizing: border-box; 
    position: relative; 
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left: 5%; 
    height: 80%; 
}

.dashboard-counts {
    float: right; 
    width: 40%; 
    box-sizing: border-box; 
    position: relative; 
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-right: 5%; 
    height: 80%; 
}

.dashboard-main-timeSeries {
    background-color: pink; 
    border-radius: 0.25em; 
    height: 20em; 
    width: 98%; 
    margin: auto; 
}

/* Global CSS */
.clr {
    clear: both;
 }