@import "global_themes.css"; 

.header-div {
    background-color: var(--header-color); 
}

.header-title {
    color: white; 
    size: 10vh;
    display: flex;
    align-items: center; 
}

.page-options {
    width: 30vh; 
    position: absolute; 
    left: 142.5vh;
    top: 17.5vh;
}